* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-size: clamp(3rem, 3vw, 8rem);
  margin: 0.2em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.actions {
  display: inherit;
  flex-direction: column;
  width: fit-content;
  margin: 1em 0;
}

.actions #amount {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 3em;
  border: 3px solid black; 
  text-align: center;
  user-select: none;
}

.actions #amount:focus {
  outline: none;
  border-color: #0a9552;
  
}

/* Hide the spinner for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* */

.actions #buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.actions #buttons button {
  padding: 0.5em;
  font-size: 3em;
  cursor: pointer;
  border-radius: 4px;
  background-color: #e80;
  color: #fff;
  border: none;
  transition: all 0.2s ease;
}

.actions #buttons button:hover {
  background-color: #d70;
  outline: 1px solid black;
  transform: scale(1.01);
}

button:hover {
  scale: 1.05;
}

h1#welcome {
  text-align: center;
  margin-top: 20px;
}

h2#balance {
  text-align: center;
  margin-top: 10px;
  word-break: break-all;
}

#account-balance {
  word-break: break-word;
  padding: 0 10px; /* Add some padding */
}


@media (max-width: 940px) {

  .actions #amount {
    font-size: 2em;
  }

  .actions #buttons  {
    display: grid;
    grid-template-columns: 1fr;
  }
}