.Form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, fit-content));
  gap: 0.4em;
  margin: 20px 1em;
  user-select: none;
  font-size: 1.6em;
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  max-width: 413px;
}

.Form input {
  font: 1em sans-serif;
  padding: clamp(8px, 2vw, 15px) clamp(10px, 3vw, 20px);
  margin: 0.2em 0;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
  outline: none;
  min-height: clamp(40px, 8vw, 60px);
}

button {
  font: 1em sans-serif;
  padding: 5px 10px;
  margin: 0.2em 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}

button[type="submit"] {
  background-color: #e80;
  color: #fff;
}

button:hover {
  transform: scale(1.05);
}

button[type="submit"]:hover {
  background-color: #d70;
}

#result {
  max-width: fit-content;
  align-self: flex-start;
  font-size: 1.2em;
  color: #ff2828;
  padding: 5px 8px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.692);
  backdrop-filter: blur(2px);
  visibility: hidden;
}
